@import "tailwindcss";

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}